* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1D1818;
    color: white;
}

.main {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-size: 3rem;
}

.logo {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    margin-top: 110px;
    margin-bottom: 30px;
    width: 300px;
    height: auto;
}


.mail {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mail input {
    border-radius: 10px;
    padding: 12px;
    width: 250px;
    height: 40px;
    border: 1px solid white;
}

.mail p {
    margin-right: 160px;
    margin-bottom: 5px;
}


.button-next {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-next button {
    background-color: #1ed760;
    color: black;
    font-size: 20px;
    height: 40px;
    width: 250px;
    border-radius: 18px;
    border: none;
    font-weight: bold;
}

.button-next button:hover {
    background-color: #3be477;
    cursor: pointer;
    font-weight: bold;
}

.or {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reg-mail {
    border: 1px solid #585858;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    border-radius: 18px;
    font-weight: bold;
}

.reg-mail:hover {
    border: 1px solid white;
    cursor: pointer;
}

.reg-apple {
    border: 1px solid #585858;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    border-radius: 18px;
    font-weight: bold;
}

.reg-apple:hover {
    border: 1px solid white;
    cursor: pointer;
}


.bottom-user {
    color: #585858;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer-login button {
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.bottom-p {
    justify-content: center;
}

.bottom-footer, a,p{
    margin-top: 40px;
    color: #585858;
}