* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1D1818;
    color: white;
}

.main {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    margin-top: 110px;
    margin-bottom: 30px;
    width: 300px;
    height: auto;
}

hr {
    width: 400px;
}

.mail {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mail input {
    border-radius: 10px;
    padding: 12px;
    width: 250px;
    height: 40px;
    border: 1px solid white;
}

.mail p {
    margin-right: 160px;
    margin-bottom: 5px;
}
